# If we are a computer with nix-shell available, then use that to setup
# the build environment with exactly what we need.
# shellcheck shell=bash
if has nix; then
  watch_file flake.nix flake.lock
  use flake
fi
