*.o
*.elf
*.img
*.bin
tags
cscope.*
*.swp

!/**/firmware/*.bin
!/**/firmware/*.elf

build
.vscode
simulate.sh
debug.sh
.config
.*-config

chcore-libc/build
chcore-libc/obj
chcore-libc/lib

asm

kernel/include/arch/aarch64/arch/virt/asm-offsets.h

user/vmm/vm_img
user/vmm/vm_config
user/vmm/vm_result

run_*

exec_log
make-tag.sh

!/**/scripts/build/

/ramdisk
/.chpm
/.cpp
__pycache__

infer_*_report.txt
infer-out/
.repo/
