# simlab
y64sim
*.yo
*.sim
*.bin
!y64-ins-bin/**.bin
!y64-app-bin/**.bin

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# utils
*.swp
compile_commands.json
*~
.DS_Store
.AppleDouble
.LSOverride
._*
